<h1 class="animated fadeIn">{{ persona.nombres | uppercase }} <small>({{persona.fnac | date:'y' }})</small></h1>
<hr>
<div class="row animated fadeIn fast">

    <div class="col-md-4">
        <img [src]="persona.img" class="img-fluid" alt="persona.nombres">
        <br><br>
        <a [routerLink]="['/personas']" class="btn btn outline-danger btn-block">Regresar</a>
    </div>

    <div class="col-md-8">
        <h3>{{ persona.nombres }}</h3>
        <hr>
        <p>
            {{persona.rut}}
        </p>
        <div>
            <img *ngIf="persona.vigente == true" class="img-logo" src="assets/img/tierra.jpg" alt="Vigente">
            <img *ngIf="persona.vigente != true" class="img-logo" src="assets/img/agua.png" alt="No Vigente">
        </div>
        
        <br><br>
        <a [routerLink]="['/personas']" class="btn btn outline-danger btn-block">Regresar</a>
    </div>

</div>