<h1 class="text-center">Personas</h1>
<hr>
<div class="card-columns cls">

        <app-personas-tarjeta [persona]="foo" [index]="i" *ngFor="let foo of personas; let i=index"></app-personas-tarjeta>

</div>