<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Personas App</h1>
      <p class="lead">Esta es una aplicación que lista y detalla Personas</p>
    </div>
  </div>