<div class="card animated fadeIn fast">
    <img [src]="persona.img" class="card-img-top" [alt]="persona.nombres">
        <div class="card-body">
            <h5 class="card-title">{{persona.nombres}} {{persona.apPat}} {{persona.apMat}}</h5>
            <p class="card-text">Rut: {{persona.rut}}</p>
            <p class="card-text"><small class="text-muted">Fecha de nacimiento: {{persona.fnac}}</small></p>

            <button (click)="verPersona()" class="btn btn-outline-primary btn-block">
                Ver mas...
            </button>
        </div>
</div>