<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Just an image -->
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="/assets/img/icon.jpg" width="30" height="30" alt="">
    </a>
  </nav>
    <a class="navbar-brand" href="#">Navbar Personas</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['home']">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['personas']">Personas</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['about']">About</a>
        </li>
        
      </ul>
      <div>
        <button mat-mini-fab color="primary">UR</button>
        <button mat-icon-button isIconButton color="warn">UR</button>
        <button mat-button color="accent">hola</button>
        <button mat-stroked-button color="primary">hola</button>
        <button mat-raised-button>chao</button>
        
            <button mat-icon-button aria-label="Example icon-button with a heart icon">
              <mat-icon>home</mat-icon>
            </button>
            <button mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">
              <mat-icon>face</mat-icon>
            </button>
            <button mat-icon-button color="accent" aria-label="Example icon-button with a heart icon">
              <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
              <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button disabled aria-label="Example icon-button with a heart icon">
              <mat-icon>back</mat-icon>
            </button>
          
      </div>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Buscar Persona" (keyup.enter)="buscarPersona(buscarTexto.value)" #buscarTexto>

        <button (click)="buscarPersona(buscarTexto.value)" class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
      </form>
    </div>
  </nav>