<h1>Buscando: <small>{{termino}}</small></h1>
<hr>
<div class="row animated fadeIn fast" *ngIf="personas.length == 0">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            No Existen resultados con el término: {{termino}}

        </div>
    </div>
</div>

<div clas="card-columns">

    <app-personas-tarjeta [persona]="foo" [index]="foo.idx" *ngFor="let foo of personas"></app-personas-tarjeta>

</div>